.mission-wrap{
    padding: 100px 50px;
    p.info{
        font-size: 1rem;
        line-height: 2;
    }
    .row{
        margin-top: 80px;
        h2{
            font-size: 24px;
        }
    }
}